body {
    background-color: #f9fafa;
}

h1 {
    text-align: center;
    background-color: black;
    color: gold;
    height: 50px;
    text-transform: capitalize;
    padding: 50px;
    font-size: 50px;
    border-radius: 10px;

}
#letra {
    font-family: "Montserrat", sans-serif;
    text-align: center;
          }
.header {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px ;
  
}
.menu {
    display: flex;
    gap: 20px;
    justify-content: end;

}
.header1 {
    background-color: 
    #f9fafa;
}


@media (min-width: 680px) {
    .fondoprincipal {
       width: 100px;
    }
}

div.fondoprincipal {
    height: 800px;
    width: 100%;

}
.fondoprincipal{
    width: 100%;
    height: 300px;
    background-image: url(Asset/7maravillas.jpeg);
    position: relative;
    background-size: cover;
    background-position: center;
}
.fondoprincipal button {
    height: 60px;
    width: 250px;
    background: transparent;
    border: 2px solid black;
    color: white;
    text-shadow: 0 8px 8px rgba(0,0,0,0.8);
    font-style: oblique;
    
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 15%;

}
button#letra {
    text-transform: uppercase;

}

.contenedor {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 30px;

}

.imagen1, .imagen2 {
    position: relative;        /* para centrar texto dentro */
    width: 250px;              /* tamaño manejable */
    height: 300px;             /* cuadrado, ajustable */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;   /* centra horizontalmente el texto */
    align-items: center;       /* centra verticalmente el texto */
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0 2px 8px rgba(0,0,0,0.8);
    border-radius: 10px;       /* opcional, da estilo */
    display: inline-block;
}

.imagen1 {
    background-image: url(Asset/imagencaydo.jpeg);
    margin-left: 50px;
    height: 800px;
    width: 550px;

}
.imagen2 {
    background-image: url(Asset/beigepaisaje.jpeg);
    margin-left: 400px;
    height: 800px;
    width: 450px;
}
.imagen1 h2 {
    margin-top:300px;
}
.imagen2 h2 {
    margin-top: 300px;
}